volumes:
  pg_data:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  api:
    build: .
    env_file: .env
    depends_on:
      - db
    ports:
      - 8000:8000
